@import url(https://fonts.googleapis.com/css?family=Raleway:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Bitter:regulardisplay=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1D2F38;
  line-height: 1;
  font-family: "Raleway";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.newsletter__title,
.item-latest-product__title,
.column-blog__title,
.item-footer__title {
  font-family: "Bitter";
  font-size: 30px;
  line-height: 117%;
}

.latest-product__title,
.blog__title {
  font-family: "Bitter";
  font-size: 38px;
  line-height: 105%;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #17A550;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  line-height: 133%;
  color: #FFFFFF;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.btn__search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #768F9C;
  border-radius: 0px 5px 5px 0px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 167%;
  color: #FFFFFF;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.latest-product__view-all,
.blog__view-all {
  position: relative;
  font-size: 16px;
  line-height: 125%;
  padding-left: 24px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.no-webp .latest-product__view-all::before, .no-webp .blog__view-all::before{
  background: url("../img/icons/arrow.png") no-repeat; }

.latest-product__view-all::before,
.blog__view-all::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.latest-product__view-all:hover,
.blog__view-all:hover {
  color: #17A550;
}

.latest-product__view-all:hover::before,
.blog__view-all:hover::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
          box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
  border-radius: 0px;
  z-index: 50;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 85px;
  padding: 5px 0;
}

.menu__logo {
  margin-right: 30px;
  z-index: 3;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

@supports ((-moz-column-gap: clamp( 0.0000000625rem , -0.9302324724rem  +  4.6511626744vw , 2.5rem )) or (column-gap: clamp( 0.0000000625rem , -0.9302324724rem  +  4.6511626744vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.0000000625rem , -0.9302324724rem  +  4.6511626744vw , 2.5rem );
       -moz-column-gap: clamp( 0.0000000625rem , -0.9302324724rem  +  4.6511626744vw , 2.5rem );
            column-gap: clamp( 0.0000000625rem , -0.9302324724rem  +  4.6511626744vw , 2.5rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.0000000625rem , -0.9302324724rem  +  4.6511626744vw , 2.5rem )) or (column-gap: clamp( 0.0000000625rem , -0.9302324724rem  +  4.6511626744vw , 2.5rem ))) {
  .menu__list {
    -webkit-column-gap: calc(0.0000000625rem + 2.4999999375 * (100vw - 20rem) / 53.75);
       -moz-column-gap: calc(0.0000000625rem + 2.4999999375 * (100vw - 20rem) / 53.75);
            column-gap: calc(0.0000000625rem + 2.4999999375 * (100vw - 20rem) / 53.75);
  }
}

.menu__link {
  font-size: 16px;
  line-height: 143%;
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link img {
  margin-right: 5px;
}

.menu__sing-up {
  position: relative;
  padding-left: 42px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  z-index: 3;
}

.no-webp .menu__sing-up::before{
  background: url("../img/icons/header-icons/Sing Up.png"); }

.menu__sing-up::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 32px;
  top: -5px;
  left: 0;
  -webkit-box-shadow: 5px 5px 0px #FEAD1C;
          box-shadow: 5px 5px 0px #FEAD1C;
  border-radius: 5px;
}

.menu__sing-up:hover {
  color: #FEAD1C;
}

.menu-open .menu__body {
  top: 0;
}

.icon-menu {
  display: none;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer__columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

@supports (gap: clamp( 0.625rem , -0.0726744186rem  +  3.488372093vw , 2.5rem )) {
  .footer__columns {
    gap: clamp( 0.625rem , -0.0726744186rem  +  3.488372093vw , 2.5rem );
  }
}

@supports not (gap: clamp( 0.625rem , -0.0726744186rem  +  3.488372093vw , 2.5rem )) {
  .footer__columns {
    gap: calc(0.625rem + 1.875 * (100vw - 20rem) / 53.75);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.1773255814rem  +  3.488372093vw , 3.75rem )) {
  .footer__columns {
    padding-bottom: clamp( 1.875rem , 1.1773255814rem  +  3.488372093vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1773255814rem  +  3.488372093vw , 3.75rem )) {
  .footer__columns {
    padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 53.75);
  }
}

.item-footer__logo:not(:last-child) {
  margin-bottom: 10px;
}

.item-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-footer__social:not(:last-child) {
  margin-bottom: 20px;
}

.item-footer__text {
  line-height: 125%;
}

.item-footer__text span {
  font-weight: 700;
}

.item-footer__title {
  color: #333333;
}

.item-footer__title:not(:last-child) {
  margin-bottom: 12px;
}

.item-footer__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-footer__search-form:not(:last-child) {
  margin-bottom: 20px;
}

.item-footer__input {
  background: #FFFFFF;
  border-radius: 5px 0px 0px 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 1px solid #768F9C;
  padding: 5px;
  font-size: 18px;
  color: #768F9C;
}

.item-footer__brand {
  line-height: 125%;
}

.article-item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}

.article-item-footer:not(:last-child) {
  margin-bottom: 20px;
}

.article-item-footer__image {
  border-radius: 7px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39%;
          flex: 0 1 39%;
  padding-bottom: 28%;
}

.article-item-footer__title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 61%;
          flex: 0 0 61%;
}

.menu-item-footer {
  border-bottom: 1px solid #536D7A;
}

@supports (padding-bottom: clamp( 0.625rem , 0.2761627907rem  +  1.7441860465vw , 1.5625rem )) {
  .menu-item-footer {
    padding-bottom: clamp( 0.625rem , 0.2761627907rem  +  1.7441860465vw , 1.5625rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.2761627907rem  +  1.7441860465vw , 1.5625rem )) {
  .menu-item-footer {
    padding-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 53.75);
  }
}

.menu-item-footer:not(:last-child) {
  margin-bottom: 20px;
}

.menu-item-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}

.menu-item-footer__link {
  line-height: 125%;
}

.main-block {
  max-width: 1150px;
  margin: 145px auto 0 auto;
  background-color: #E3EBF1;
  border-radius: 10px;
}

@supports (padding: clamp( 0.625rem , -0.3052325581rem  +  4.6511627907vw , 3.125rem )) {
  .main-block {
    padding: clamp( 0.625rem , -0.3052325581rem  +  4.6511627907vw , 3.125rem );
  }
}

@supports not (padding: clamp( 0.625rem , -0.3052325581rem  +  4.6511627907vw , 3.125rem )) {
  .main-block {
    padding: calc(0.625rem + 2.5 * (100vw - 20rem) / 53.75);
  }
}

@supports (margin-top: clamp( 5rem , 3.488372093rem  +  7.5581395349vw , 9.0625rem )) {
  .main-block {
    margin-top: clamp( 5rem , 3.488372093rem  +  7.5581395349vw , 9.0625rem );
  }
}

@supports not (margin-top: clamp( 5rem , 3.488372093rem  +  7.5581395349vw , 9.0625rem )) {
  .main-block {
    margin-top: calc(5rem + 4.0625 * (100vw - 20rem) / 53.75);
  }
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem )) {
  .main-block__container {
    gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem )) {
  .main-block__container {
    gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.75);
  }
}

.main-block__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.main-block__image img {
  max-width: 100%;
}

.main-block__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.main-block__sub-title {
  font-size: 18px;
  line-height: 139%;
  color: #10843F;
}

@supports (font-size: clamp( 0.9375rem , 0.8677325581rem  +  0.3488372093vw , 1.125rem )) {
  .main-block__sub-title {
    font-size: clamp( 0.9375rem , 0.8677325581rem  +  0.3488372093vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8677325581rem  +  0.3488372093vw , 1.125rem )) {
  .main-block__sub-title {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 53.75);
  }
}

.main-block__sub-title:not(:last-child) {
  margin-bottom: 8px;
}

.main-block__title {
  font-family: "Bitter";
  line-height: 111%;
}

@supports (font-size: clamp( 1.25rem , 0.6220930233rem  +  3.1395348837vw , 2.9375rem )) {
  .main-block__title {
    font-size: clamp( 1.25rem , 0.6220930233rem  +  3.1395348837vw , 2.9375rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.6220930233rem  +  3.1395348837vw , 2.9375rem )) {
  .main-block__title {
    font-size: calc(1.25rem + 1.6875 * (100vw - 20rem) / 53.75);
  }
}

.main-block__title:not(:last-child) {
  margin-bottom: 22px;
}

.main-block__text {
  font-weight: 400;
  line-height: 133%;
}

@supports (font-size: clamp( 0.9375rem , 0.8677325581rem  +  0.3488372093vw , 1.125rem )) {
  .main-block__text {
    font-size: clamp( 0.9375rem , 0.8677325581rem  +  0.3488372093vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8677325581rem  +  0.3488372093vw , 1.125rem )) {
  .main-block__text {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 53.75);
  }
}

.main-block__text span {
  font-weight: 700;
}

.main-block__text:not(:last-child) {
  margin-bottom: 15px;
}

.blog {
  padding-top: 77px;
  padding-bottom: 100px;
}

.blog__title:not(:last-child) {
  margin-bottom: 33px;
}

.blog__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin-bottom: 81px;
}

@supports (gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem )) {
  .blog__columns {
    gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem )) {
  .blog__columns {
    gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.75);
  }
}

.blog__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.column-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-blog:nth-child(2) {
  gap: 20px;
}

.column-blog__image {
  padding-bottom: 72%;
  overflow: hidden;
}

.column-blog__image:not(:last-child) {
  margin-bottom: 9px;
}

.column-blog__image img {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.column-blog__image img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

@supports (font-size: clamp( 1.5625rem , 1.4462209302rem  +  0.5813953488vw , 1.875rem )) {
  .column-blog__title {
    font-size: clamp( 1.5625rem , 1.4462209302rem  +  0.5813953488vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.4462209302rem  +  0.5813953488vw , 1.875rem )) {
  .column-blog__title {
    font-size: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 53.75);
  }
}

.column-blog__title:not(:last-child) {
  margin-bottom: 13px;
}

.column-blog__text {
  font-size: 15px;
  line-height: 133%;
}

.item-blog-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-blog-column__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44%;
          flex: 0 0 44%;
  padding-bottom: 27%;
  margin-right: 15px;
  overflow: hidden;
}

.item-blog-column__image img {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.item-blog-column__image img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.item-blog-column__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 56%;
          flex: 1 1 56%;
  font-size: 18px;
  line-height: 139%;
}

.best-products {
  padding-bottom: 100px;
}

.best-products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 40px;
}

.best-products__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.best-products__bg img {
  border-radius: 10px;
}

.best-products__icon {
  position: relative;
  z-index: 2;
}

.best-products__text {
  position: relative;
  z-index: 2;
  font-family: "Bitter";
  font-size: 28px;
  line-height: 114%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 10px;
}

.best-products__btn {
  position: relative;
  z-index: 2;
}

@supports (padding-bottom: clamp( 1.875rem , 0.2470930233rem  +  8.1395348837vw , 6.25rem )) {
  .latest-product {
    padding-bottom: clamp( 1.875rem , 0.2470930233rem  +  8.1395348837vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.2470930233rem  +  8.1395348837vw , 6.25rem )) {
  .latest-product {
    padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 53.75);
  }
}

.latest-product__title:not(:last-child) {
  margin-bottom: 33px;
}

.latest-product__columns {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

@supports (gap: clamp( 0.9375rem , 0.3095930233rem  +  3.1395348837vw , 2.625rem )) {
  .latest-product__columns {
    gap: clamp( 0.9375rem , 0.3095930233rem  +  3.1395348837vw , 2.625rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.3095930233rem  +  3.1395348837vw , 2.625rem )) {
  .latest-product__columns {
    gap: calc(0.9375rem + 1.6875 * (100vw - 20rem) / 53.75);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem )) {
  .latest-product__columns {
    margin-bottom: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7848837209rem  +  2.3255813953vw , 2.5rem )) {
  .latest-product__columns {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.75);
  }
}

.item-latest-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F7F9FA;
  position: relative;
}

.item-latest-product__label {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
  background: rgba(29, 47, 56, 0.8);
  border-radius: 3px;
  font-size: 12px;
  line-height: 167%;
  color: #FFFFFF;
  z-index: 2;
}

@supports (top: clamp( 0.625rem , 0.5087209302rem  +  0.5813953488vw , 0.9375rem )) {
  .item-latest-product__label {
    top: clamp( 0.625rem , 0.5087209302rem  +  0.5813953488vw , 0.9375rem );
  }
}

@supports not (top: clamp( 0.625rem , 0.5087209302rem  +  0.5813953488vw , 0.9375rem )) {
  .item-latest-product__label {
    top: calc(0.625rem + 0.3125 * (100vw - 20rem) / 53.75);
  }
}

@supports (left: clamp( 0.625rem , 0.5087209302rem  +  0.5813953488vw , 0.9375rem )) {
  .item-latest-product__label {
    left: clamp( 0.625rem , 0.5087209302rem  +  0.5813953488vw , 0.9375rem );
  }
}

@supports not (left: clamp( 0.625rem , 0.5087209302rem  +  0.5813953488vw , 0.9375rem )) {
  .item-latest-product__label {
    left: calc(0.625rem + 0.3125 * (100vw - 20rem) / 53.75);
  }
}

.item-latest-product__image {
  padding-bottom: 56%;
}

.item-latest-product__image:not(:last-child) {
  margin-bottom: 24px;
}

.item-latest-product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (padding-left: clamp( 0.625rem , 0.2761627907rem  +  1.7441860465vw , 1.5625rem )) {
  .item-latest-product__body {
    padding-left: clamp( 0.625rem , 0.2761627907rem  +  1.7441860465vw , 1.5625rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , 0.2761627907rem  +  1.7441860465vw , 1.5625rem )) {
  .item-latest-product__body {
    padding-left: calc(0.625rem + 0.9375 * (100vw - 20rem) / 53.75);
  }
}

@supports (padding-right: clamp( 0.625rem , 0.2761627907rem  +  1.7441860465vw , 1.5625rem )) {
  .item-latest-product__body {
    padding-right: clamp( 0.625rem , 0.2761627907rem  +  1.7441860465vw , 1.5625rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , 0.2761627907rem  +  1.7441860465vw , 1.5625rem )) {
  .item-latest-product__body {
    padding-right: calc(0.625rem + 0.9375 * (100vw - 20rem) / 53.75);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem )) {
  .item-latest-product__body {
    padding-bottom: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.3561046512rem  +  2.9069767442vw , 2.5rem )) {
  .item-latest-product__body {
    padding-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.75);
  }
}

@supports (font-size: clamp( 1.5rem , 1.3604651163rem  +  0.6976744186vw , 1.875rem )) {
  .item-latest-product__title {
    font-size: clamp( 1.5rem , 1.3604651163rem  +  0.6976744186vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.3604651163rem  +  0.6976744186vw , 1.875rem )) {
  .item-latest-product__title {
    font-size: calc(1.5rem + 0.375 * (100vw - 20rem) / 53.75);
  }
}

.item-latest-product__title:not(:last-child) {
  margin-bottom: 13px;
}

.item-latest-product__text {
  font-size: 15px;
  line-height: 133%;
}

@supports (padding-bottom: clamp( 1.875rem , -1.148255814rem  +  15.1162790698vw , 10rem )) {
  .newsletter {
    padding-bottom: clamp( 1.875rem , -1.148255814rem  +  15.1162790698vw , 10rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -1.148255814rem  +  15.1162790698vw , 10rem )) {
  .newsletter {
    padding-bottom: calc(1.875rem + 8.125 * (100vw - 20rem) / 53.75);
  }
}

.newsletter__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem )) {
  .newsletter__container {
    padding: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem );
  }
}

@supports not (padding: clamp( 1.25rem , 0.5523255814rem  +  3.488372093vw , 3.125rem )) {
  .newsletter__container {
    padding: calc(1.25rem + 1.875 * (100vw - 20rem) / 53.75);
  }
}

.newsletter__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.newsletter__bg img {
  border-radius: 10px;
}

.newsletter__image {
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.newsletter__image img {
  max-width: 100%;
}

.newsletter__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  z-index: 2;
}

.newsletter__title {
  position: relative;
  padding-left: 70px;
}

.no-webp .newsletter__title::before{
  background: url("../img/icons/mail.png") no-repeat; }

.newsletter__title::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 60px;
  height: 60px;
}

@supports (margin-bottom: clamp( 1.25rem , 0.6918604651rem  +  2.7906976744vw , 2.75rem )) {
  .newsletter__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.6918604651rem  +  2.7906976744vw , 2.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6918604651rem  +  2.7906976744vw , 2.75rem )) {
  .newsletter__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.5 * (100vw - 20rem) / 53.75);
  }
}

.newsletter__text {
  font-size: 18px;
  line-height: 133%;
}

.newsletter__text:not(:last-child) {
  margin-bottom: 24px;
}

.newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (gap: clamp( 0.9375rem , 0.5654069767rem  +  1.8604651163vw , 1.9375rem )) {
  .newsletter__form {
    gap: clamp( 0.9375rem , 0.5654069767rem  +  1.8604651163vw , 1.9375rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.5654069767rem  +  1.8604651163vw , 1.9375rem )) {
  .newsletter__form {
    gap: calc(0.9375rem + 1 * (100vw - 20rem) / 53.75);
  }
}

.newsletter__input {
  width: 100%;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #AABCC5;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  line-height: 167%;
  color: #536D7A;
}

.newsletter__btn {
  font-weight: 700;
  margin-right: 10px;
}

.newsletter__link {
  font-size: 12px;
  line-height: 167%;
  color: #536D7A;
}

@media (min-width: 47.99875em) {
  .main-block__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .main-block__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (min-width: 61.99875em) {
  .best-products__icon {
    margin-right: 10px;
  }
}

@media (max-width: 868px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 3;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 61.99875em) {
  .best-products__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
  }
}

@media (max-width: 54.25em) {
  .menu {
    min-height: 50px;
  }

  .menu__logo {
    margin-right: 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    overflow: auto;
    background-color: #E3EBF1;
    padding: 90px 10px 30px 10px;
    -webkit-transition: top 0.5s ease 0s;
    -o-transition: top 0.5s ease 0s;
    transition: top 0.5s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
  }

  .menu__list {
    display: block;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .menu__link {
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__sing-up {
    margin-right: 10px;
  }
}

@media (max-width: 47.99875em) {
  .main-block__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .main-block__sub-title {
    font-size: 18px;
  }

  .main-block__title {
    font-size: 34px;
  }

  .main-block__text {
    font-size: 18px;
  }

  .blog {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .blog__title:not(:last-child) {
    margin-bottom: 13px;
  }

  .blog__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }

  .column-blog__title:not(:last-child) {
    margin-bottom: 10px;
  }

  .column-blog__text {
    font-size: 18px;
  }

  .item-blog-column {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .best-products {
    padding-bottom: 30px;
  }

  .newsletter__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background: #10843F;
  }

  .btn__search:hover {
    background: #556269;
  }

  .menu__link:hover {
    color: #10843F;
  }

  .menu-item-footer__link:hover {
    text-decoration: underline;
  }
}

.webp .latest-product__view-all::before, .webp .blog__view-all::before{ background: url(../img/icons/arrow.webp) no-repeat; }

.webp .menu__sing-up::before{ background: url("../img/icons/header-icons/Sing Up.png"); }

.webp .newsletter__title::before{ background: url(../img/icons/mail.webp) no-repeat; }